*{
    scroll-behavior: smooth;
}
.scrollIcon{
    color: #353334;
    margin: auto;
    animation-name: scrollanimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes scrollanimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}

.profile{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 20px #353334);
}
.card-image{
    object-fit: cover;
    height: 170px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    transition: all 0.3s ease-in-out;
}
